@media screen and (max-width: 760px){

    header{
        flex-direction: column;
    }
    
    main{
        flex-direction: column;
    }

    h2{
        font-size: 38px;
        text-align: center;
        
    }

    p{
        text-align: center;
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    form{
        margin:0 auto;
        width: 100%;
        }

    input{
        align-self:center;
        width:250px
    }

    img{
        display: none;
    }
    ul{
        text-align: center;
    }
    
    h1{
        font-size: 50px;
    }
    

}

@media screen and (max-width: 1280px){

    h2{
        font-size: 40px;
    }

    img{
        width: 550px;
    }

}

@media screen and (max-width: 999px){

    h2{
        font-size: 35px;
       
        
    }

    img{
        width: 350px;
    }


}